.topnav {
  background-color: #4c4c4c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000000;
  color: white;
}

/* Define section visibility */
.sections {
    display: none;
}

.sections:target,
.sections:has(.subsections:target) { 
    display: block; 
}

.subsections:target {
    display: block;
}

.subsections {
    display: none;
}